
<mat-card >
  <mat-card-content>
    <mat-card-header>
      <mat-card-title style="color: white;">
        Deletar parcela
      </mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <div class="col-sm-12 mt-4">
      <mat-label style="color: white;">Deseja mesmo deletar essa Centro de custo?</mat-label>
    </div>

    <mat-card-footer class="mt-2" align="center">
      <button (click)="salvar()" mat-flat-button
              extended
              color="warn" class="m-3">
        <mat-icon>delete</mat-icon>
        Deletar
      </button>
      <button mat-flat-button extended color="accent" class="m-3"
              (click)="cancel()">
        <mat-icon>reply</mat-icon>
        Voltar
      </button>
    </mat-card-footer>
  </mat-card-content>
</mat-card>
