.table_custom { --bs-table-bg: transparent !important; }

.color-table {
  color: var(--primary-bg);
}


td {
  white-space: nowrap;
}

.borda-vermelha-claro {
  background-color:  #431c1c !important;
}
