
<mat-card >
  <mat-card-content>
    <mat-card-header>
      <mat-card-title style="color: white;">
        Sair
      </mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <div class="col-sm-12 mt-4">
      <mat-label style="color: white;">Deseja realmente sair?</mat-label>
    </div>

    <mat-card-footer class="mt-2" align="center">
      <button (click)="logout()" mat-flat-button
              extended
              color="warn" class="m-3">
        <mat-icon>exit_to_app</mat-icon>
        Sim
      </button>
      <button mat-flat-button extended color="accent" class="m-3"
              (click)="cancel()">
        <mat-icon>reply</mat-icon>
        Não
      </button>
    </mat-card-footer>
  </mat-card-content>
</mat-card>
