<mat-card>
  <mat-card-content class="align-center"> <!-- Adicione a classe align-center aqui -->
    <mat-card-header>
      <mat-card-title>Convidar <mat-icon class="pt-1">person_add</mat-icon></mat-card-title> <!-- Adicione a classe mt-1 aqui -->
    </mat-card-header>
    <mat-divider></mat-divider>
    <form [formGroup]="userForm" class="mt-2">
      <mat-form-field appearance="fill" class="col-sm-12">
        <input matInput formControlName="linkRegister">
        <button matTooltip="Copiar" mat-icon-button matSuffix (click)="copiarTexto()">
          <mat-icon>content_copy</mat-icon>
        </button>
      </mat-form-field>
    </form>
  </mat-card-content>
</mat-card>
