.centro-destacado {
  border: 2px solid green;
  padding: 2px;
  color: green;
  // border-radius: 20%;
  font-weight: bold;
}
.color-table {
  color: var(--primary-bg);
}

.table_custom { --bs-table-bg: transparent !important; }
