.table_custom { --bs-table-bg: transparent !important; }

.color-table {
  color: var(--primary-bg);
}

td {
  white-space: nowrap;
}

::ng-deep .data-pagamento {
  font-size: 18px;
  margin-top: 15px;
}

// table > thead > tr > th {
//   // background: darkblue;
//   position: sticky;
//   top: 0; /* Don't forget this, required for the stickiness */
//   color: #ffffff;
//   padding: 0.3rem 0.6rem;
//   min-width: 6rem;
// }

// table {
//   text-align: left;
//   position: relative;
//   border-collapse: collapse;
// }

// table tr > td{
// background: #dfdfdf;
// padding: 0.3rem 0.6rem;
// border-bottom: 1px solid #ccc
// }
