<mat-card>
  <mat-card-content>
    <mat-card-header>
      <mat-card-title>
        Consultar centro de custo
      </mat-card-title>
    </mat-card-header>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-header>
    <button (click)="adicionar()" mat-raised-button>ADICIONAR</button>
  </mat-card-header>
  <br/>
  <mat-card-content  class="table-responsive">
    <table mat-table [dataSource]="listaCentros">
      <!-- Coluna de descrição -->
      <ng-container matColumnDef="descricao">
        <th mat-header-cell *matHeaderCellDef> Descrição </th>
        <td mat-cell *matCellDef="let centro"> {{centro.descricao}} </td>
      </ng-container>

      <!-- Coluna de responsável -->
      <ng-container matColumnDef="responsavel">
        <th mat-header-cell *matHeaderCellDef> Responsável </th>
      <td mat-cell *matCellDef="let centro"> {{centro.reponsavel?.nome}} </td>
      </ng-container>

      <!-- Coluna de ações (editar, excluir, etc.) -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Ações </th>
        <td mat-cell *matCellDef="let centro">
          <button mat-icon-button (click)="editarCentroCusto(centro.id)" matTooltip="Editar">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="openDialogDelete(centro)" matTooltip="Deletar">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card-content>
</mat-card>


